<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Error</title>
        <meta charset="utf-8" />
    </head>
    <body th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
        <h1 th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</h1>
        <p th:utext="${errorMessage}">Server error</p>
        <p>La página que solicita no se encuentra :/</p>
        <a href="/" th:href="@{/}">Ir al inicio</a>
    </body>
</html>