<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Inicio</title>
<!-- Bootstrap -->
<link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
<script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<!-- Jquery -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Estilo para login -->
<link href="./public/main.css" rel="stylesheet">
<script src="./public/main.js"></script>
</head>
<body>
<div>
	<h1>Hola <label th:text="${#authentication.name}"></h1>
	<div th:if="${#authorization.expression('hasRole(''ROLE_Administrador'')')}">
	  Eres un administrador, puedes crear Jefes y Empleados.
	  <a href="nuevojefe">
	   <input type="button" class="btn btn-primary" value="Añadir Jefes" />
	  </a>
	  <a href="nuevoempleado">
	   <input type="button" class="btn btn-primary" value="Añadir Empleados" />
	  </a>
	</div>
	<div th:if="${#authorization.expression('hasRole(''ROLE_Jefe'')')}">
	  Eres un Jefe y puedes crear Empleados.
	  <a href="nuevoempleado">
	   <input type="button" class="btn btn-primary" value="Añadir Empleados" />
	  </a>
	</div>
	<div th:if="${#authorization.expression('hasRole(''ROLE_Empleado'')')}">
	  Eres un Empleado, puedes visualizar tu información.
	</div>
	<a href="/logout">
	   <input type="button" class="btn btn-danger" value="Cerrar sesión" />
	</a>
	<div id="database"></div>
</div>
</body>
</html>